# Archivos del Sistema Operativo
Thumbs.db
.DS_Store

# Configuración de VS Code
.vscode/

# Logs y archivos temporales
*.log
npm-debug.log*

# Si planeas usar Python para el backend en el futuro
venv/
__pycache__/
.env

# Ignorar node_modules en cualquier nivel (doble seguridad)
node_modules/